.container{
    width: 900px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}

#btn{position: relative; left: 50%;}

.box{
 width: 300px;
}

.welcome{
  width: 200px;
  position: relative;
  left: 20%;
  
}