.container {
    width: 800px;
    margin-top: 10%;
    margin-left: 10%;
}
a{
    text-decoration-line: underline;
}
.links{
    position: absolute;
     top: 0px;
     right: 0px;
     display: flex;
     
}
.link{
    margin-left: 30px;
}